<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h2{background-color: rgb(204, 0, 255);}
</style>
<script>
    alert("Hola soy Javascript dentro de html")
</script>
<body>
    <!--Esto es un comentario en html-->
    <h1 style="color: brown;">Hola esto es html</h1>
    <h2>Hola soy {{variable}}</h2>
    <p>Esto es un parrafo en html</p>
    <p>{{frutas}}</p>

    <button style="background-color:blue;color: aliceblue; ">Presiona</button>
    <a href="https://keepcoding.io/" target="_blank">Ir a Keepcoding</a>
</body>
</html>